<div class="signup-form">
    <%= form_with url: '/share/create' do |form| %>
        <h3> Send File </h3>  
        <hr>
        <div class="form-group">      
            <%= form.label :email %>
            <%= form.text_field :email,class: "form-control" %>
        </div>
        <%= form.hidden_field :file, value: @file %>
        <div class="form-group">
            <%= form.submit "Submit", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
    <% end %>
</div>